*{
    padding: 0;
    margin: 0;
    box-sizing: borde-box;
   
}

nav {
   background: #2fcdcd;
   height: 80px;
   width: 100%;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
   text-decoration: none;
}
nav #name {
    position: absolute;
    padding: 20px 50px;
    height: 4px;
    text-transform: uppercase;
    color: #000090;
    text-shadow: 1px 1px 7px rgba(0, 1, 1, 0.5);
    font-size: 25px;
    text-decoration: none;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li .list {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li  a#active, li .list:hover{
    background: #000090;
    transition: .5s;
}


#name {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 10px 12px;
    padding: 5px 10px;
    flex-direction: column;
    text-align: center;

}




#container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #c1c1c1;
    bottom: 0;
    border: 1px solid #d6d3d3;
    width: 100%;
    height: auto;
    
}
#social-icons {
    display: flex;
}
#social-icons li {
    list-style: none;
    margin: 20px;
}

#social-icons li a {
    box-shadow: inset 0 0 15px
     rgba(55, 84, 170, 0),
      inset 0 0 20px rgba(255, 255, 255, 0),
       7px 7px 15px rgba(55, 84, 170, 0.15),
        -7px -7px 20px rgba(255, 255, 255, 1),
        inset 0 0 4px rgba(255, 255, 255, 0.2);
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        text-decoration: none;
        border-radius: 50%;
        color: rgba(94, 94, 94);
}

#social-icons li a:hover {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0 0 4px rgba(255, 255, 255, 0.2);

}

#facebook:hover {
    text-shadow: 0 0 32px;
    color: #0e76a8;
}
#youtube:hover {
    text-shadow: 0 0 32px;
    color: #c8232c;
}
#whatsapp:hover {
    text-shadow: 0 0 32px;
    color: #4fce5d;
}
#instagram:hover {
    text-shadow: 0 0 32px;
    color: deeppink;
}
#twitter:hover {
    text-shadow: 0 0 32px;
    color: #00acee;
}
