

.header {
    background-color: #f9d81b;
    display: flex;
    justify-content: space-between;
    padding: 0.1rem .5rem;
    box-shadow: 0 0.5rem 1rem rgb(8, 160, 92, 0.6);
    align-items: center;

    &__image {
        width: 90px;
        height: 90px;
        margin: 0 25px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
        border-radius: 50%;
    }
    & .nav a{
        text-decoration: none;
        color: #08a05c;
        font-size: 22px;
        padding: 15px;
        justify-content: center;
    }
    & .material-symbols-outlined {
        display: flex;
        justify-content: center;
        margin-right: 30px;

    }
}

.cont {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    
    
    
    & button {
        padding: 15px;
        border-radius: 50px;
        font-size: 25px;
        margin: 20px 0;
    }
}


